* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333b3f;
    color: #dfe0e0;
  }
  
  h1, h2 {
    color: #33b102;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  